html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: gray;
}
.App {
  border: 2px solid rgb(84, 81, 81);
  height: 400px;
  width: 300px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 5px;
}
.display {
  /* background-color: gray; */
  width: 95%;
  padding: 5px;
}
.formula {
  float: right;
  margin-top: 15%;
  color: white;
}
.digits {
  border: 1px solid gray;
  height: 100%;
  width: 95%;
}
.first-row {
  display: grid;
  grid-template-columns: 50% 25% 25%;
  height: 20%;
}
.second-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 20%;
}
.operation {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid black;
  background-color: gray;
}
#ac {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid black;
  background-color: brown;
}
.numbers {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border: 1px solid black;
  background-color: rgb(90, 87, 87);
}
.fourth-row {
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  height: 20%;
}
#equal {
  height: 197%;
}
.fifth-row {
  display: grid;
  grid-template-columns: 75%;
  height: 20%;
}
button:hover {
  cursor: pointer;
}
